header{
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: rgb(100, 93, 93);
  margin: 0px 0;
  font-weight: bolder;
  font-family: 'Bagel Fat One', sans-serif;

}

#description-1 {
  margin: 12px;
  margin-bottom: 0px;
}

/* header p {
  margin-bottom: 36px;
} */

a {
  padding: 12px 48px;
  border: 2px solid rgb(184, 71, 51);
  background-color: rgb(184, 71, 51);
  color: white;
  border-radius: 12px;
  font-size: 24px;
  display: inline-block;
  margin: 0px 0;
}

a:hover {
  background-color: rgb(180, 12, 90);
  text-decoration: none;
}

ol {
  list-style: none;
  width: 500px;
  margin: 36px auto 0 auto;
  padding: 0;
}

li{
  padding: 36px;
  margin: 48px;
  background-color: rgb(223, 148, 138);
  border-radius: 6px;
  box-shadow: 2px 2px 4px rgb(0,0,0,0.2);
  width: 300 200 300 200;
}
h2{
  color: rgb(201, 95, 46);
  font-family: 'Bagel Fat One', sans-serif;
}

/* main p {
  margin: 12px;
  color: rgb(151, 63, 23);
} */

.highlight-goal {
  background-color: rgb(199, 118, 107);
}