body{
  text-align: center;
  background-color: rgb(206, 196, 151);
  color: rgb(17, 16, 22);
}

h1{
  font-size: 44px;
  font-weight: bolder;
  font-family: 'Bagel Fat One', sans-serif;
  }

p{
  margin-bottom: 48px;
  font-size: 20px;
  font-family: 'Black Han Sans', sans-serif;  
}

a{
  font-family: 'Black Han Sans', sans-serif; 
  text-decoration: none; 
  color: rgb(204, 17, 17);
}

a:hover {
  text-decoration: underline;
}